.contenedor-del-producto{
    margin: 5vh auto;
}

.card-prodct{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5vh auto;
}
.card-prodct img{
    margin-top: auto;
    width: 250px;
    height: 250px;
}
.card-prodct button{
    border: none;
    outline: 0;
    padding: 10px;
    color: wheat;
    background-color: aqua;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
}

.card-prodct button:hover{
    opacity: 0.7;
}